<h3>Log in</h3>

<%= simple_form_for :session, html: { autocomplete: 'off' }, url: session_path do |f| %>
  <%= f.input :username %>
  <%= f.input :password %>
  <%= f.button :submit, "Log in" %>
<% end %>
