// Imports
@import "_reset.scss";
@import url("https://fonts.googleapis.com/css?family=Cantata+One|Roboto:400,400i,700");

:root {
	font-size: 16px;
}

html {
	width: 100%;
	height: 100%;
}

// Main styles
body {
	font-family: "Roboto", sans-serif;
	background-image: image-url("bg-main.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}

.full-page-content {
	width: 100%;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.25);
	background-attachment: fixed;
	background-size: cover;
}

.wrapper-page-content {
	width: 65%;
	height: 100%;
	margin: 0 auto;
	margin-top: 3rem;
}

a {
	text-decoration: none;
	color: #fff;

	&:hover {
		opacity: 0.75;
	}
}

// Header
header {
	width: 100%;
	text-align: center;
	padding-top: 4rem;

	h1 {
		font-size: 3.998rem;
		font-family: "Cantata One", serif;
		text-shadow: 1px 1px rgba(0, 0, 0, 0.13);
	}

	h2 {
		margin-top: 2rem;
		text-shadow: 1px 1px rgba(0, 0, 0, 0.13);
	}
}

// Navigation
nav {
	position: fixed;
	top: 0.5rem;
	right: 1rem;
	display: flex;
	align-items: center;

	a {
		margin-left: 1rem;
	}

	.avatar {
		border-radius: 50%;
		margin-right: 0.5rem;
	}
}

// Footer
footer {
	position: fixed;
	bottom: 0;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
}

// ------------------------------ HOME --------------------------------

h3 {
	font-size: 1.999rem;
	font-family: "Cantata One", serif;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.13);
	margin-bottom: 1rem;
}

.photo-grid {
	border-top: 1px solid rgba(255, 255, 255, 0.75);
	margin-bottom: 6rem;
	padding-top: 1rem;
	height: 100%;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	// grid-auto-rows: 200px;
}

// -------------------------------- SIGN UP ------------------------------
form {
	margin: 0 auto;
	padding-top: 2rem;
	margin-bottom: 6rem;

	label {
		display: block;
		margin-bottom: 0.5rem;
	}

	.input {
		margin-bottom: 1.5rem;
	}
}

input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	width: 50%;

	font-size: 1.414rem;
	color: #fff;

	&:focus {
		background-color: transparent;
		outline-color: #fff;
	}
}

input:-webkit-autofill {
	background-color: #fff;
}

input[type="submit"] {
	text-align: left;
	width: 150px;
	border: none;
	text-decoration: underline;
	padding: 0;
	cursor: pointer;

	&:hover {
		opacity: 0.75;
	}
}
